# Pythonic Code

- 파이썬 스타일 코딩 기법
- 파이썬 특유의 문법을 이용하여 효율적인 코드 표현
- 파이썬 특유는 아님, 많은 언어들이 서로의 장점 채용
- 고급 코드를 작성할 수록 더 많이 필요

In [2]:
# 예시 : 여러 단어들을 하나로 붙일 때 -> 일반코드
colors = ['red', 'blue', 'green', 'yellow']
result = ''
for s in colors:
    result += s
print(result)

redbluegreenyellow

In [3]:
# 예시 : 여러 단어들을 하나로 붙일 때 -> pythonic code
colors = ['red', 'blue', 'green', 'yellow']
result = ''.join(colors)
print(result)

redbluegreenyellow

## why pythonic code

- 다른 사람의 코드에 대한 이해도
- 효율
- 간지

## split

기준값으로 string 값을 나눠서 list 형태로 변환

In [11]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [12]:
example = 'python,java,js'.split(',')
print(example)

['python', 'java', 'js']

## join

string으로 구성된 list를 합쳐 하나의 string으로 변환

In [13]:
colors = ['red', 'blue', 'green', 'yellow']
result = ' '.join(colors) # ' '안에 있는 문자열이 사이에 들어감
print(result)

red blue green yellow

## List Comprehension

- 기존 List 사용하여 간단히 다른 list 만드는 기법
- 포괄적인 List, 포함되는 리스트라는 의미로 사용
- 파이썬에서 가장 많이 사용되는 기법 중 하나 
- 일반적인 for + append보다 속도가 빠름

In [14]:
# general
result = []
for i in range(10):
    result.append(i)
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# list comprehension
result = [i for i in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
result = [i for i in range(10) if i % 2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [18]:
word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2]
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

In [19]:
case_1 = ["A","B","C"]
case_2 = ["D","E","A"]
result = [i+j for i in case_1 for j in case_2]
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [20]:
result = [i+j for i in case_1 for j in case_2 if not(i==j)]
print(result)

['AD', 'AE', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [25]:
words = 'The quick brown fox jumps over the lazy dog'.split()
print(words)
stuff = [[w.upper(), w.lower(), len(w)] for w in words]
for row in stuff:
    print(row)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

## enumerate

list의 element를 추출할 때 번호를 붙여서 추출

In [28]:
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [29]:
mylist = ['a','b','c','d']
list(enumerate(mylist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [31]:
{i:j for i,j in enumerate('Artificial intelligence (AI), \
is intelligence demonstrated by machines, \
unlike the natural intelligence displayed by humans and animals.'.split())}

{0: 'Artificial',
 1: 'intelligence',
 2: '(AI),',
 3: 'is',
 4: 'intelligence',
 5: 'demonstrated',
 6: 'by',
 7: 'machines,',
 8: 'unlike',
 9: 'the',
 10: 'natural',
 11: 'intelligence',
 12: 'displayed',
 13: 'by',
 14: 'humans',
 15: 'and',
 16: 'animals.'}

## zip

두 개의 list의 값을 병렬적으로 추출함

In [32]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a,b in zip(alist, blist):
    print(a,b)

a1 b1
a2 b2
a3 b3

In [33]:
# enumerate, zip 동시사용
for i, (a,b) in enumerate(zip(alist,blist)) :
    print(i,a,b)

0 a1 b1
1 a2 b2
2 a3 b3

## lambda

- 이름 없는 함수, 함수처럼 사용가능
- pep8에서느 lambda의 사용을 권장하지 않음

In [37]:
def f(x,y):
    return x+y
print(f(1,4))

5

In [38]:
f = lambda x,y : x+y
print(f(1,4))

5

In [42]:
ex = [1,2,3,4,5]
f = lambda x,y : x+y
print(list(map(f,ex,ex)))

[2, 4, 6, 8, 10]

In [43]:
list(
    map(
        lambda x: x**2 if x % 2 == 0 
        else x, 
        ex)
)

[1, 4, 3, 16, 5]

In [45]:
ex = [1,2,3,4,5]
print(list(map(lambda x : x+x, ex)))
print((map(lambda x : x+x, ex))) #map iteration 객체

f = lambda x: x ** 2
print(map(f, ex))
for i in map(f,ex):
    print(i)

[2, 4, 6, 8, 10]
<map object at 0x7ff5e91ad370>
<map object at 0x7ff5e91ad3a0>
1
4
9
16
25

## reduce

map function과 달리 list에 똑같은 함수를 적용해서 통합

In [59]:
from functools import reduce
print(reduce(lambda x,y : x+y, [1,2,3,4,5]))

15

## iterable object

Sequence형 자료형에서 데이터를 순서대로 추출하는 object

In [61]:
for city in ["Seoul", "Busan", "Pohang"]: #list
    print(city, end='\t')
for language in ("Python", "C", "Java") : #tuple
    print(language, end='\t')
for char in "Python is easy" : #string
    print(char, end=" ")

Seoul	Busan	Pohang	Python	C	Java	P y t h o n   i s   e a s y

In [62]:
# 내부적으로 iter()와 next()함수로 iterable객체를 iterator object로 사용
cities = ["Seoul", "Busan", "Jeju"]
iter_obj = iter(cities)

print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))
next(iter_obj)

Seoul
Busan
Jeju

StopIteration:

## generator

- iterable object를 특수한 형태로 사용해주는 함수
- element가 사용되는 시점에 값을 메모리에 반환
  : yield를 사용해 한번에 하나의 element만 반환함
- 용량 면에서훨씬 이점

In [66]:
def general_list(value) :
    result = []
    for i in range(value):
        result.append(i)
    return result

In [76]:
#호출하는 순간 iterable객체에대해 next함수를 사용하는 개념
#용량에 대한 이점
def general_list(value) :
    result = []
    for i in range(value) :
        yield i

In [77]:
for i in general_list(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [83]:
gen_ex = (n*n for n in range(500))
print(type(gen_ex))

<class 'generator'>

In [85]:
for i in gen_ex:
    print(i)

## function passing arguments

함수에 입력되는 parameter의 변수명을 사용, arguments를 넘김

In [86]:
def print_something(my_name, your_name):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

print_something("Sungchul", "TEAMLAB")
print_something(your_name="teamlab",my_name='sungchul')

Hello TEAMLAB, My name is Sungchul
Hello teamlab, My name is sungchul

In [87]:
# parameter에 기본값을 사용할 수 있다.
def print_something_2(my_name, your_name="TEAMLAB"):
    print("Hello {0}, My name is {1}".format(your_name, my_name))

print_something_2("Sungchul", "TEAMLAB")
print_something_2("Sungchul")

Hello TEAMLAB, My name is Sungchul
Hello TEAMLAB, My name is Sungchul

### 가변인자

- 개수가 정해지지 않은 변수를 함수의 parameter로 사용하는 법
- keyword arguments와 함께, argument 추가가 가능
- Asterisk(*)기호를 사용하여 함수의 parameter를 표시함
- 입력 값은 tuple type으로 사용할 수 있음
- 가변인자는 오직 한 개만 맨 마지막 parmeter 위치에 사용 가능

In [88]:
def asterisk_test(a,b,*args):
    return a+b+sum(args)
print(asterisk_test(1,2,3,4,5))

15

In [89]:
# 파라미터에 입력된 값을 tuple로 저장
def asterisk_test_2(*args) :
    x,y,z = args
    return x,y,z
print(asterisk_test_2(1,2,3))

(1, 2, 3)

### 키워드 가변인자

- parameter 이름을 따로 지정하지 않고 입력
- asterik(*) 두개를 사용하여 함수의 parameter를 표시
- 입력된 값은 dict type으로 사용
- 가변인자는 오직 한 개만 기존 가변인자 다음에 사용

In [90]:
def kwargs_test_1(**kwargs):
    print(kwargs)

def kwargs_test_2(**kwargs):
    print(kwargs)
    print("First value is {first}".format(**kwargs))
    print("Second value is {second}".format(**kwargs))
    print("Third value is {third}".format(**kwargs))

In [96]:
kwargs_test_1(first=1, second=2, third=3)

{'first': 1, 'second': 2, 'third': 3}

In [99]:
kwargs_test_2(first=1, second=2, third=3, fourth=4)

{'first': 1, 'second': 2, 'third': 3, 'fourth': 4}
First value is 1
Second value is 2
Third value is 3

In [103]:
# args + kwargs
def kwargs_test_3(one, two=100, *args, **kwargs):
    print(one+two+sum(args))
    print(args)
    print(kwargs)

kwargs_test_3(10,30, 3,4,5,6,7, first=3, second=4, third=5)

65
(3, 4, 5, 6, 7)
{'first': 3, 'second': 4, 'third': 5}

## asterisk

In [113]:
#tuple unpacking - packing - unpacking
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))
    
asterisk_test(1,*(2,3,4,5,6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [114]:
# tuple에 있는 자료 unpacking
def asterisk_test(a, args):
    print(a, *args)
    print(type(args))

asterisk_test(1, (2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

In [116]:
a,b,c = ([1,2],[3,4],[5,6])
print(a,b,c)

data = ([1,2],[3,4],[5,6])
print(*data)

[1, 2] [3, 4] [5, 6]
[1, 2] [3, 4] [5, 6]

In [117]:
def asterisk_test(a,b,c,d):
    print(a,b,c,d)
data = {"b":1, "c":2, "d":3}
asterisk_test(10, **data)

10 1 2 3

In [118]:
for data in zip(*([1,2],[3,4],[5,6])):
    print(data)

(1, 3, 5)
(2, 4, 6)